img {
	max-width: 900px;
	height: auto;
	width: 1000%;
	display: block;
	margin: auto;
	
}
div {
	width: 70%;
	margin: auto;
	background-color: white;
}
h1{
	font-size: 35px;
	text-align: center;
	padding: 20px;
	color: yellow;
}
p{
	font-size: 100;
	color: black;
	
}
body{
	background-color: violet;
}